<template name="products">
    <div class="container products">
        <h1>Available Products</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque maiores incidunt, enim temporibus esse omnis consequatur ullam dolorem. Iure animi velit temporibus modi nemo et quia rerum natus praesentium fugit!</p>
        <hr>
        <div class="row category-credit" style="margin-top:20px">
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie1.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>The Big Bang Theory</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie2.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>Game of Thrones</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie3.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>Grey's Anatomy</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie4.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>The Walking Dead</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie5.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>Breaking Bad</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <div class="thumbnail">
                    <a class="" href="#">
                        <img class="img-responsive" src="img/Serie6.jpg" alt="">
                        <div class="wrapper">
                            <div class="caption post-content">
                                <h4>Downton Abbey</h4>
                            </div>
                        </div>
                    </a>
                    <div class="wrapper">
                        <div class="post-meta">
                            <div class="price">12345 €</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>